<h1>Genres</h1>

<p>
  <% @genres.each do |genre| %>
    <%= genre.name %><br />
  <% end %>
</p>

<p>
  <%= link_to 'Create New', new_genre_path %><br />
</p>

<p>
  <%= link_to 'Back to Home', root_path %>
</p>
