
<h1>Platforms</h1>

<% if @platforms.length > 0 %>
  <ol class="platform-list">
    <% @platforms.each do |platform| %>
      <li class="platform-list__el">
        <a href="<%= platform_path(platform) %>"
           class="platform-list__el__logo">
          <%= image_tag("/images/platform_logos/#{platform.id}.jpg") %>
        </a>
        <%=
          link_to(platform.name, platform_path(platform), 
                  class: 'platform-list__el__text')
        %>
      </li>
    <% end %>
  </ol>
<% else %>
  <p class="empty-state">There are no platforms.</p>
<% end %>


<%= link_to '+', new_platform_path, class: 'create-button' %>