<h1>Badges</h1>

<p>
  <% @badges.each do |badge| %>
    <%= badge.symbol %>
    <%= link_to badge.name, badge_path(badge) %><br />
  <% end %>
</p>

<p>
  <%= link_to 'â• Create New', new_badge_path %><br />
</p>

<p>
  <%= link_to 'Home', root_path %>
</p>
