<h1>Publishers</h1>

<% if @publishers.length > 0 %>
  <div class="long-list-wrapper">
    <ol class="long-list">
      <% @publishers.each do |publisher| %>
        <li class="long-list__el">
          <%= 
            link_to publisher.name, publisher_path(publisher)
          %>
        </li>
      <% end %>
    </ol>
    <% if @page_count > 1 %>
      <div class="page-list-wrapper">
        <div class="page-list-title">Pages</div>
        <ol class="page-list">
          <% @page_count.times do |p| %>
            <li class="page-list__el">
              <% if @page != p %>
                <%= link_to p + 1, publishers_path(page: p) %>
              <% else %>
                <b><%= p + 1 %></b>
              <% end %>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="empty-state">There are no publishers.</p>
<% end %>


<%= link_to '+', new_publisher_path, class: 'create-button' %>