<h1>Publishers</h1>

<p>
  <% @publishers.each do |publisher| %>
    <%= publisher.name %><br />
  <% end %>
</p>

<p>
  <%= link_to 'Create New', new_platform_path %><br />
</p>

<p>
  <%= link_to 'Back to Home', root_path %>
</p>
