<h1>New Publisher</h1>

<%= form_with model: @publisher do |f| %>
  <p>
    <%= label_tag(:name, "Name") %> <br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
