<h1>ESRB Ratings</h1>

<% if @esrb_ratings.length > 0 %>
  <ol class="jumbotron-list">
    <% @esrb_ratings.each do |esrb_rating| %>
      <li class="jumbotron-list__el">
        <div class="jumbotron-list__el__logo">
          <%= image_tag("/images/esrb_ratings/#{esrb_rating.id}.png") %>
        </div>
        <div class="jumbotron-list__el__text">
          <%= esrb_rating.name %>
        </div>
      </li>
    <% end %>
  </ol>
<% else %>
  <p class="empty-state">There are no ESRB ratings.</p>
<% end %>


<%= link_to '+', new_esrb_rating_path, class: 'create-button' %>