<h1>Franchises</h1>

<p>
  ➕ <%= link_to 'Create New', new_franchise_path %><br />
</p>

<p>
  <% @franchises.each do |franchise| %>
    <%= link_to franchise.name, franchise_path(franchise) %><br />
  <% end %>
</p>

<p>
  <%= link_to 'Home', root_path %>
</p>
