<h1>Franchises</h1>

<% if @franchises.length > 0 %>
  <div class="long-list-wrapper">
    <ol class="long-list">
      <% @franchises.each do |franchise| %>
        <li class="long-list__el">
          <%= 
            link_to franchise.name, franchise_path(franchise)
          %>
        </li>
      <% end %>
    </ol>
    <% if @page_count > 1 %>
      <div class="page-list-wrapper">
        <div class="page-list-title">Pages</div>
        <ol class="page-list">
          <% @page_count.times do |p| %>
            <li class="page-list__el">
              <% if @page != p %>
                <%= link_to p + 1, franchises_path(page: p) %>
              <% else %>
                <b><%= p + 1 %></b>
              <% end %>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="empty-state">There are no franchises.</p>
<% end %>

<%= link_to '+', new_franchise_path, class: 'create-button' %>