/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

p {
  font-family: "Helvetica Neue", sans-serif;
}

body {
    margin: 0
}


h1 {
  font-family: "Futura", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5ch;
  text-align: center;
  font-size: 4em;
  font-weight: normal;
  margin-right: 1em;
  margin-left: 1em;
}

table {
  table-layout: auto;
  border-collapse: collapse;
  border: 2px solid #2C365E;
}

th, td {
  padding: 0.5em;
  font-family: "Helvetica Neue", sans-serif;
}

th {
  text-align: left;
  background-color: #2C365E;
  font-weight: bold;
  color: white;
  border: 0;
}

td {
  border: solid 1px #2C365E;
}

a {
  text-decoration: none;
  color: #2C365E;
}
a:hover {
  text-decoration: underline;
}

a.block-link {
    display: block;
    text-decoration: none;
}

input, textarea {
  font-family: "Menlo", monospace;
  font-size: 1em;
}

select, option {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1em;
}

.symbol {
  font-family: sans-serif;
}

th.symbol {
  text-align: center;
  font-size: 0.75em;
}

td a.symbol {
  font-size: 0.75em;
}

a.symbol:hover {
  text-decoration: none;
}

a.create-button {
    display: block;
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    background-color: #2C365E;
    color: white;
    font-size: 2em;
    text-align: center;
    line-height: 1.95em;
    box-shadow: 2px 2px 5px 0 gray;
}

a.create-button:hover {
    text-decoration: none;
    background-color: #3D476F;
}


/* Home */
h1.home-name {
    font-family: "Futura", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5ch;
    font-size: 6em;
    text-align: center;
}

.home-nav-wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    flex-wrap: wrap;
}

.home-nav {
    width: 10%;
    display: flex;
    flex-direction: column;
    margin: 1.5em 7.5%;
}

.icon {
    font-size: 4em;
    text-align: center;
}

.icon--big {
    font-size: 6em;
    text-align: center;
}

.icon--small {
    font-size: 2em;
    text-align: center;
}

.icon-text {
    font-family: "Futura";
    text-transform: uppercase;
    text-align: center;
}

.icon-text--small {
    font-family: "Futura";
    text-transform: uppercase;
    text-align: center;
    font-size: 0.75em;
}

/* Menu */
.menu-wrapper {
    font-family: "Futura", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 4em;
    width: 100%;
    border-bottom: solid 1px #2C365E;
    margin-bottom: 1em;
}

.menu-name {
    width: 25%;
    text-align: center;
}

.menu-name > a {
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    font-size: 2em;
    color: black;
    line-height: 2em;
}

.menu-name > a:hover {
    text-decoration: none;
}

.menu-nav {
    font-family: "Futura", sans-serif;
    width: 7.375%;
    margin: 0 1%;
}

.menu-nav > a {
    line-height: 4em;
}

/* Breadcrumb */
.breadcrumb {
    display: flex;
    flex-direction: row;
    height: 1.5em;
    margin: 0 1em;
}

.breadcrumb__el {
    margin: 0 0.5em;
}

/* Center Wrapper */
.center-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Long List */
.long-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.long-list {
    list-style: none;
    padding: 0;
    display: flex;
    width: 80%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 44em;
}

.long-list__el {
    margin: 0.5em 0;
}

/* Action List */
.action-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    justify-content: center;
}

.action-list__el {
    width: 5em;
    margin: 0 1em;
}

/* Page List */
.page-list-wrapper {
    margin-top: 1em;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-list-title {
    font-family: "Futura", sans-serif;
    text-transform: uppercase;
}
.page-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.page-list__el {
    text-align: center;
    width: 35px;
    margin: 0.25em 2.5px;
}

/* Empty state */
.empty-state {
    text-align: center;
}

/* Form */
.form {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2em;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.form__el {
    margin: 1em 0;
}

.form__el > label {
    font-family: "Futura", sans-serif;
    text-transform: uppercase;
    color: #2C365E;
}

.form__el > select, .form__el > input[type="text"],
.form__el > input[type="date"], .form__el > input[type="number"] {
    width: 100%;
}

.form__el--submit {
    margin-top: 2em;
    text-align: center;
}

.form__el--submit > input[type="submit"] {
    font-family: "Futura", sans-serif;
    text-transform: uppercase;
    padding: 1em;
}
