/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
p {
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 3.5em;
  font-weight: 100;
}

table {
  table-layout: auto;
  border-collapse: collapse;
  border: 2px solid #2C365E;
}

th, td {
  padding: 0.5em;
  font-family: "Helvetica Neue", sans-serif;
}

th {
  text-align: left;
  background-color: #2C365E;
  font-weight: bold;
  color: white;
  border: 0;
}

td {
  border: solid 1px #2C365E;
}

a {
  text-decoration: none;
  color: #2C365E;
}
a:hover {
  text-decoration: underline;
}

p.home {
  font-size: 2em;
}

input, textarea {
  font-family: "Menlo", monospace;
  font-size: 1em;
}

select, option {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1em;
}

.symbol {
  font-family: sans-serif;
}

th.symbol {
  text-align: center;
  font-size: 0.75em;
}

td a.symbol {
  font-size: 0.75em;
}

a.symbol:hover {
  text-decoration: none;
}