// Place all the styles related to the Badges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.badge-show-symbol {
    font-size: 6em;
}

.badge-show-date {
    margin-bottom: 2em;
}

.badge-show-recipient-title {
    font-family: "Futura", sans-serif;
    text-transform: uppercase;
    color:  #2C365E;
}