// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* Game Index */
.game-index-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-index-week {
    font-size: 2em;
    font-weight: bold;
}

.game-index-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
}

.game-index-nav__el {
    margin: 0 0.5em;
}

.game-index-list {
    list-style: none;
    width: 1000px;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: solid 1px #d3d3d3;
}

.game-index-list__el {
    height: 200px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #d3d3d3;
}

.game-index-list__el__image-wrapper {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-index-list__el__image-wrapper > img {
    display: block;
    max-height: 200px;
    max-width: 200px;
    border: solid 1px #d3d3d3;
}

.game-index-list__el__title-wrapper {
    width: 700px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-index-list__el__title > a {
    font-size: 2em;
}

.game-index-list__el__platform > img {
    height: 1em;
}

.game-index-list__el__platform > a {
    font-size: 1.25em;
}

.game-index-list__el__badges > .symbol {
    margin-right: 0.5em;
}

.game-index-list__el__rating-wrapper {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-index-list__el__rating {
    color: #fff;
    width: 4ch;
    height: 4ch;
    line-height: 4ch;
    font-weight: bold;
    border-radius: 4px;
    font-size: 1.5em;
    text-align: center;
}

/* Game Show */
.game-show-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-show-artwork {
    display: block;
    max-width: 500px;
    margin-bottom: 3em;
    border: solid 1px #d3d3d3;
}

.game-show-platform > a {
    font-size: 2em;
}
.game-show-platform__logo {
    height: 1.75em;
}

.game-show-rating-wrapper {
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-show-rating {
    margin-right: 0.5em;
    width: 4ch;
    height: 4ch;
    line-height: 4ch;
    font-weight: bold;
    font-size: 2em;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.game-show-esrb {
    margin-left: 0.5em;
    height: 4em;
    display: block;
}

.game-show-franchise {
    margin-bottom: 2em;
}

.game-show-badge-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2em;
    justify-content: center;
    width: 80%;
}


.game-show-badge-list__el {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 0 1%;
}

.game-show-video-link {
    margin-bottom: 2em;
}

.game-show-action-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    justify-content: center;
}

.game-show-action-list__el {
    width: 5em;
    margin: 0 1em;
}

.score.gray {
  background-color: #ccc;
}
.score.red {
  background-color: #f00;
}
.score.yellow {
  background-color: #fc3;
}
.score.green {
  background-color: #6c3;
}