// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
img.game {
  display: block;
  max-width: 300px;
  // max-height: 200px;
  // width: auto;
  height: auto;
}

h1.game_header {
  margin-block-end: 0;
}
p.game_header {
  margin-block-start: 0;
  font-weight: normal;
}


table {
  table-layout: auto;
  border-collapse: collapse;
  border: 3px solid;
}

th, td {
  padding: 10px;
  border: 1px solid;
}

th {
  text-align: left;
  background-color: black;
  font-weight: bold;
  color: white;
}

div.score {
  margin-block-end: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 2em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  border-radius: 10px;
}
td.score {
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  color: white;
  font-weight: bold;
  border: black solid 1px;
}
.score.gray {
  background-color: #ccc;
}
.score.red {
  background-color: #f00;
}
.score.yellow {
  background-color: #fc3;
}
.score.green {
  background-color: #6c3;
}

p.badges {
  margin-block-start: 0;
}

p.review {
  width: 500px;
}

span.review-header {
  font-weight: bold;
  font-size: 1.2em;
}
