// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
img.game {
  display: block;
  max-width: 400px;
  // max-height: 200px;
  // width: auto;
  height: auto;
}

h1.game_header {
  margin-block-start: 0;
  margin-block-end: 0;
};

p.game_header {
  margin-block-start: 0;
  font-size: 1.25em;
}

img.platform_logo {
  display: inline;
  max-height: 1.5em;
  vertical-align: -33%;
  // width: auto;
}

div.score {
  margin-block-end: 10px;
  text-align: center;
  color: white;
  font-size: 2em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
}
td.score {
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  color: white;
  font-weight: bold;
  border: black solid 1px;
}
.score.gray {
  background-color: #ccc;
}
.score.red {
  background-color: #f00;
}
.score.yellow {
  background-color: #fc3;
}
.score.green {
  background-color: #6c3;
}

p.badges {
  margin-block-start: 0;
}

p.remarks {
  font-family: "Avenir Book", sans-serif;
  width: 500px;
  padding-block-start: 10px;
  padding-block-end: 10px;
  border-block-start: solid 1px #ccc;
  border-block-end: solid 1px #ccc;
}
