// Place all the styles related to the Platforms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* Index */
.platform-list {
    list-style: none;
    padding: 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    flex-wrap: wrap;
}

.platform-list__el {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    height: 10em;
    margin: 1.5em 2.5%;
}

.platform-list__el__logo {
    display: block;
    margin-bottom: 1em;
}

.platform-list__el__logo > img {
    display: block;
    width: 10ch;
}

.platform-list__el__text {
    font-family: "Futura", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
}

/* Show */
.platform-show-logo {
    display: block;
    width: 200px;
    margin-bottom: 1em;
}

.platform-show-photo {
    display: block;
    max-width: 500px;
    margin-bottom: 1em;
}

.platform-show-publisher {
    font-size: 1.5em;
}

.platform-show-date {
    margin-bottom: 1em;
}

