// Place all the styles related to the Platforms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* Index */

/* Show */
.platform-show-logo {
    display: block;
    width: 200px;
    margin-bottom: 1em;
}

.platform-show-photo {
    display: block;
    max-width: 500px;
    margin-bottom: 1em;
}

.platform-show-publisher {
    font-size: 1.5em;
}

.platform-show-date {
    margin-bottom: 1em;
}

