// Place all the styles related to the years controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.years-nav-wrapper {
    list-style: none;
    padding: 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    flex-wrap: wrap;
}

.years-nav {
    display: block;
    font-family: "Futura", sans-serif;
    width: 10%;
    display: flex;
    flex-direction: column;
    margin: 1.5em 7.5%;
    text-align: center;
    font-size: 2.5em;
}