<h1>Games</h1>

<% if @years.length > 0 %>
  <div class="years-nav-wrapper">
    <% @years.each do |year| %>
      <div class="years-nav">
        <%= link_to year, weeks_path(year: year) %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>There are no games.</p>
<% end %>
</p>

<%= link_to '+', new_game_path, class: 'create-button' %>