<h1>Games</h1>

<% if @years.length > 0 %>
  <ol class="years-nav-wrapper">
    <% @years.each do |year| %>
      <li class="years-nav">
        <%= link_to year, weeks_path(year: year) %>
      </li>
    <% end %>
  </ol>
<% else %>
  <p class="empty-state">There are no games.</p>
<% end %>
</p>

<%= link_to '+', new_game_path, class: 'create-button' %>